@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;800&family=Questrial&display=swap');
/* 
font-family: 'Playfair Display', serif;
font-family: 'Questrial', sans-serif; 
*/

:root {
  /* --blue: #181D31;
  --olivegreen: #678983;
  --yellow:#E6DDC4
  --lightyellow: #F0E9D2; */
  --black: #000000;
  --grey: #282A3A;
  --brown: #735F32;
  --orange:#C69749;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  /* border: 2px solid #930505; */
  /* filter: grayscale(100%); */
}
/* global */
body {
  filter: grayscale(50%);
  overflow: hidden;
  display:flex;
  justify-content: center;
  width:100vw;
  height:100vh;
  opacity: 1;
	transition: 1s opacity;
  background-color: rgb(87, 87, 87);
  background: linear-gradient(
    to bottom,
    #c69649c4,
    rgba(0,0,0, 100)
  ),url(./167046856980792308.gif);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* spacing */
.wrapper {
  width:100vw;
  display: block;
  flex-flow:column nowrap;
  justify-content: center; 
}


 h1{
  /* font-family: 'Questrial', sans-serif; */
  font-family: 'Playfair Display', serif;
  -webkit-text-stroke: 1px white;
  font-size: 10vh;
  font-weight: 800;
  left: 100px;
  top: 30px;
  background-image: linear-gradient(to left, var(--orange), var(--grey));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  /* color: white; */
  /* text-shadow: 10px 5px 5px #000000,
              -3px -2px 2px var(--orange);;   */
  position: relative;
  z-index: 100;
 }
 
.wrapper #title {
  font-family: 'Playfair Display', serif;
  position: relative;
  margin-top:3rem;
  font-size: 2rem;
  z-index: 100;
  left: 100px;
  background: transparent;
}
.wrapper #name {
  font-family: 'Questrial', sans-serif; 
  font-size: 0.9rem;
  z-index: 100;
  position: relative;
  left: 100px;
  background: transparent;
}
.wrapper #content {
  font-family: 'Questrial', sans-serif; 
  font-size: 1rem;
  z-index: 100;
  position: relative;
  left: 100px;
  background: transparent;
}

.wrapper * {
  padding: 5px 5px;
  margin-bottom:1.5rem;
  border: none;
}

input {
  display: inline-block;
  max-width:50vw;
  outline: none;
  overflow-wrap: anywhere;
}

/* button */
.button {
left: 100px;
background-color: #ffffff;
border: 4px solid #ffffff;
border-radius: 30px;
box-sizing: border-box;
color: var(--orange);
cursor: pointer;
display: inline-block;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 0.5rem;
outline: none;
padding: 11px 15px;
position: relative;
text-align: center;
text-decoration: none;
touch-action: manipulation;
transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
user-select: none;
-webkit-user-select: none;
width: auto;
z-index: 1;
}

.wrapall{
  background-color: rgb(155, 136, 136);
	border: 1px solid #000;
	margin: 0 auto;
	position: relative;
	animation-delay: 1s;
	background: black;
	animation-name: daylight;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	overflow: hidden;
	animation-timing-function: linear;
}
@keyframes daylight {
	0% {  background-color: var(--black); }
	20% {  background-color: var(--grey); }
  20% {  background-color: var(--brown); }
	20% {  background-color: var(--orange); }
  80% {  background-color: var(--grey); }
	100% {  background-color: var(--black);}
}

/* @keyframes daylight {
	0% {  background-color: var(--black); }
	20% {  background-color: var(--grey); }
  20% {  background-color: var(--brown); }
	20% {  background-color: var(--orange); }
  80% {  background-color: var(--grey); }
	100% {  background-color: var(--black);}
} */


/* display post  */
.title {
  margin-top:3rem;
  font-size: 2rem;
  z-index: 1;
  border-radius: 50%;
  font-size: 50px;
  color: rgb(20, 17, 17);
  text-align: center;
}

h3{
  color: var(--brown);
  left: 100px;
}
.name {
  font-size: 0.9rem;
  z-index: 1;
  border-radius: 50%;
  font-size: 20px;
  color: white;;
  text-align: center;
  left: 25%;
  align-items: center;
}

.content {
  font-size: 1rem;
  z-index: 1;
  color: var(--orange);
  border-radius: 50%;
  font-size: 50px;
  text-align: center;
}

.newHead{
  margin-top:3rem;
  font-size: 1rem;
  z-index: 100;
  color: black;
  font-size: 4em;
  text-align: center;
    background-image: linear-gradient(to left, var(--orange), var(--grey));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px white;
}
#postBody {
  width:80vw;
  z-index: 10;
  background: linear-gradient(#dee2e6, #999999, #666666, #333333, #000000);
  justify-content: center;
  justify-items: center;
  
}


.button:hover{
    background-color: var(--brown);
    transition: 0.6s;
}

.button::after{
  background-color: red;
}



/* -------------- RAIN --------------*/
.rain span {
    position: absolute;
    width: 0.8px;
    height: 100px;
    bottom: 100%;
    background: linear-gradient(#dee2e6, #999999, #666666, #333333, #000000);
    opacity: 0.5;
    animation: drops 5s linear infinite;
    z-index: 3;
  }
  
  @keyframes drops {
    0% {
      transform: translateY(0vh);
      opacity: 0.6;
    }
    25% {
      transform: translateY(30vh);
      opacity: 0.6;
    }
    50% {
      transform: translateY(55vh);
      opacity: 0.5;
    }
    75% {
      transform: translateY(80vh);
      opacity: 0.25;
    }
    100% {
      transform: translateY(100vh);
      opacity: 0.1;
    }
  }
  
  .land {
    position: absolute;
    height: 300px;
    width: 100%;
    top: 450px;
    background: linear-gradient(#e4e6de, var(--orange), var(--brown), var(--grey), #000000);
  }
  
  
  .tree span {
    position: absolute;
    width: 20px;
    background-color: #252524;
    bottom: 0;
    z-index: 2;
  }
  
  .tree span:nth-child(1) {
    height: 200px;
    right: 10%;
  }
  
  .tree span:nth-child(2) {
    height: 400px;
    right: 20%;
  }
  
  .tree span:nth-child(3) {
    height: 150px;
    right: 30%;
  }
  
  .tree span:nth-child(4) {
    height: 250px;
    right: 40%;
  }
  
  .tree span::before,
  .tree span::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    right: -140px;
    border-radius: 50%;
  }
  
  .tree span:nth-child(1)::before {
    bottom: 180px;
    background-color: var(--grey);
  }
  .tree span:nth-child(2)::before {
    background-color: var(--brown);
    bottom: 380px;
  }
  
  .tree span:nth-child(3)::before {
    width: 200px;
    height: 200px;
    bottom: 130px;
    right: -90px;
    background-color: var(--orange);
  }
  .tree span:nth-child(4)::before {
    background-color: var(--black);
    bottom: 230px;
  }
  
  .tree span::after {
    height: 280px;
    width: 280px;
  }
  
  .tree span:nth-child(1)::after {
    bottom: 200px;
    background-color: #c7b37f;
  }
  .tree span:nth-child(2)::after {
    background-color: #a4a4a3;
    bottom: 400px;
  }
  
  .tree span:nth-child(3)::after {
    width: 180px;
    height: 180px;
    bottom: 150px;
    right: -90px;
    background-color: #787781;
  }
  .tree span:nth-child(4)::after {
    background-color: #b9c3d4;
    bottom: 250px;
  }
  

  /* fade in  */
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
